.home-page {
  display: flex;
  background-image: url("../images/site/background.png");
}

.popular-image-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}

.popular-image-items a {
  text-align: center;
  cursor: pointer;
}

.popular-image-items div {
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.5); /* last # is percent opacity */
  color: white;
  transform: translateY(-2.25em);
  margin-bottom: -2em;
}
